@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Arcade.Models
@using Arcade.Models.Interfaces
@using Arcade.Models.Repositories
@model GameReviews


<div class="container ml-2 ml-md-4 detailsCont mt-2 mt-md-4">
	<div class="row" style="background-color: #0B0316; min-height:500px">
		<div class="col-12">
			<p class="fs-1 text-white"><b>Details</b></p>
		</div>
		<div class="col-2">
			<img src="@Model.game.ImgPath" alt="" class="img-fluid" style="width:100%; height:auto;">
			<br>
		</div>
		<div class="col-8">
			<p class="fs-md-1 fs-5 text-white text-wrap checkoutButtonDetails"><b>Name: @Model.game.Name</b></p>
			<br>
			<p class="fs-md-1 fs-5 text-white text-wrap checkoutButtonDetails"><b>Genre: @Model.game.Genre</b></p>
			<br>
			<p class="fs-md-1 fs-5 text-white text-wrap checkoutButtonDetails"><b>Price: @Model.game.Price</b></p>
			<br>
			<br>
			<form action="/Checkout" method="get">
				<button type="submit" class="btn btn-success fs-md-2 fs-sm-5 fs-2 bt-block px-3 checkoutButtonDetails"
						style="border-radius: 100px; background-color: #300420;">
					Proceed
				</button>
			</form>
		</div>
	</div>
</div>



<hr style="height: 20px;background-color: white;">

<div class="accordion" id="accordionPanelsStayOpenExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingOne">
			<button class="accordion-button d-flex justify-content-center text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
					aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #0B0316 !important;">
				Add a Review
			</button>
		</h2>
		<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
			<div class="accordion-body">
				<div class="container" style="height: auto; width:100%;">

					<form action="/Home/Details" method="post">
						<div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Email: </label>
							<div class="col-sm-4">
								<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.userEmail">
							</div>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" aria-describedby="emailHelp" name="strTitle" placeholder="Title" maxlength="50">
						</div>

						<div class="form-group">
							<textarea class="form-control" rows="3" name="strReview" placeholder="Review" maxlength="50"></textarea>
						</div>

						<label class="my-1 mr-2" for="ratingSelect">Rating</label>
						<select class="custom-select my-1 mr-sm-2" id="ratingSelect" name="rating" required>
							<option value="" disabled selected>Rate the game...</option>
							<option value="1">1 - Poor</option>
							<option value="2">2 - Fair</option>
							<option value="3">3 - Good</option>
							<option value="4">4 - Very Good</option>
							<option value="5">5 - Excellent</option>
						</select>

						<input type="hidden" name="customerId" value="@Model.customerId" />
						<input type="hidden" name="id" value="@Model.game.Id" />

						<button type="submit" class="btn btn-primary my-1">Submit</button>
					</form>

				</div>	
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
			<button class="accordion-button collapsed d-flex justify-content-center text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
					aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: #0B0316 !important;">
				Reviews
			</button>
		</h2>
		<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
			<div class="accordion-body" style="background-color: #0B0316 !important;">
				
				<div class="d-flex overflow-auto bar" style="white-space: nowrap; background-color: #0B0316; height: auto% !important; width: 100% !important;">
					@for (int i = 0; i < Model.reviews.Count; ++i) {
					<div class="card justify-content-center align-items-center reviewCards" style="margin-right: 15px; background-color: #FFFFFF !important;">
							<img class="card-img-top img-fluid" src="/images/u2.png" alt="Card image cap" style="border-radius: 50%; max-width: 15%; height: auto;">
							<h4 class="card-title">
								@Model.customers[i].Email
							</h4>
							<h5 class="card-title">
								@Model.reviews[i].Title
							</h5>
							<div class="d-flex text-wrap">
								@for (int j = 0; j < Model.reviews[i].Rating; ++j) {
									<span style="color: #ffc700; font-size: 1.3rem;">★</span>
								}
								@for (int j = 0; j < 5-Model.reviews[i].Rating; ++j) {
									<span style="color: #ffc700; font-size: 1.3rem;">☆</span>
								}
							</div>
							<p class="card-text text-wrap" style="word-wrap: break-word;">
								@Model.reviews[i].ReviewText
							</p>
						</div>
					}
				</div>
			
			</div>
		</div>

	</div>
</div>